[submodule "lib/jidouteki"]
	path = lib/jidouteki
	url = https://github.com/ridamoe/jidouteki
[submodule "lib/jidouteki-providers"]
	path = lib/jidouteki-providers
	url = https://github.com/ridamoe/jidouteki-providers
